:root 
{
    --normalFont: Verdana, Geneva, Tahoma, Arial, sans-serif;
    --normalFontSize: 12px;
    --backgroundColor: #111;
    --textColor: #ddd;
    --hrColor: #037;
    --markdownLinkColor: rgb(104, 137, 230);
    --linkColor: var(--markdownLinkColor);
    --thumbBgdColor: rgb(67, 78, 83);
    --scrollbarBgdColor: rgb(21, 24, 22);
    --outputBgdColor: black;
    --borderColor: #050510;
    --scrollbarSz: 11px;
}

body 
{
    height: 100vh;
    width: 100%;
    overflow: auto;
    font-family: var(--normalFont);
    font-size: var(--normalFontSize);
    scrollbar-width: thin; /* firefox */
    scrollbar-color: var(--thumbBgdColor) var(--scrollbarBgdColor);
    color: var(--textColor);
    background-color: var(--backgroundColor);
    box-sizing: border-box;
}

/* - general styling ---------------------------------------- */
input,
button
{
    background-color: var(--backgroundColor);
    color: var(--textColor);
    border-width: .5px;
}

input
{
    font-family: var(--normalFont);
}

input:focus 
{
    outline: none !important;
    border:1px solid rgb(20, 33, 151);
    box-shadow: 0 0 5px #719ECE;
}
hr
{
    border-style: solid;
    border-width: thin;
    color: var(--hrColor);
}

::-webkit-scrollbar
{
    width: var(--scrollbarSz);
    height: var(--scrollbarSz)
}

::-webkit-scrollbar-track
{
    background: var(--scrollbarBgdColor);
}

::-webkit-scrollbar-thumb
{
    background-color: var(--thumbBgdColor);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBgdColor);
}

a
{
    color: var(--linkColor);
    text-decoration: none;
}

/* --------------------------------------------------- */
.Invis
{
    display: none; /* occupies no space */
}

.disabled
{
    color: rgb(100,100,100);
}