:root 
{
    --normalFont: Verdana, Geneva, Tahoma, Arial, sans-serif;
    --normalFontSize: 12px;
    --backgroundColor: #111;
    --textColor: #ddd;
    --hrColor: #037;
    --markdownLinkColor: rgb(104, 137, 230);
    --linkColor: var(--markdownLinkColor);
    --thumbBgdColor: rgb(67, 78, 83);
    --scrollbarBgdColor: rgb(21, 24, 22);
    --outputBgdColor: black;
    --borderColor: #050510;
    --scrollbarSz: 11px;
}

body 
{
    height: 100vh;
    width: 100%;
    overflow: auto;
    font-family: var(--normalFont);
    font-size: var(--normalFontSize);
    scrollbar-width: thin; /* firefox */
    scrollbar-color: var(--thumbBgdColor) var(--scrollbarBgdColor);
    color: var(--textColor);
    background-color: var(--backgroundColor);
    box-sizing: border-box;
}

/* - general styling ---------------------------------------- */
input,
button
{
    background-color: var(--backgroundColor);
    color: var(--textColor);
    border-width: .5px;
}

input
{
    font-family: var(--normalFont);
}

input:focus 
{
    outline: none !important;
    border:1px solid rgb(20, 33, 151);
    box-shadow: 0 0 5px #719ECE;
}
hr
{
    border-style: solid;
    border-width: thin;
    color: var(--hrColor);
}

::-webkit-scrollbar
{
    width: var(--scrollbarSz);
    height: var(--scrollbarSz)
}

::-webkit-scrollbar-track
{
    background: var(--scrollbarBgdColor);
}

::-webkit-scrollbar-thumb
{
    background-color: var(--thumbBgdColor);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBgdColor);
}

a
{
    color: var(--linkColor);
    text-decoration: none;
}

/* --------------------------------------------------- */
.Invis
{
    display: none; /* occupies no space */
}

.Markdown
{
    position: relative;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin-right: 20px; /* for scrollbar */
    border-width: 1px;
    border-style: solid;
    border-color: var(--borderColor);
    max-width: 600px;
    min-width: 400px;
}

.MarkdownCtrls
{
    position: fixed;
    top: 5px;
    right: 5px;
    /* no z-index here, positioned by place in html */
}

.MarkdownNavbar
{
    padding: 5px;
    text-align: right;
    align-items: center; /* vertical align doesn't work in flexrow */
    background-color: rgba(0,0,0, .65);
    margin-bottom: 5px;
}

.SearchCtrls /* full width, overlay at top */
{
    transition: height 300ms ease-in;
    height: 15px;
    text-align: right;
}

.SearchCtrls.Minify
{
    max-height: 15px;
}

.SearchCtrls.Minify input,
.SearchCtrls.Minify .ClearSearch
{    
    width: 0px;
    border-style: none;
    padding: 0px;
    opacity: 0;
    height: 0px;
}

.SearchOutput
{
    text-align: center;
    background-color: var(--outputBgdColor);
    padding: 10px;
    overflow: auto;
    max-height: 40vh;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.SearchCtrls button /* lives within MarkdownCtrls -- */
{
    vertical-align: middle;
    border-style: none;
    border-width: 0px;
}

.SearchCtrls input
{
    width: 12em;
    transition: width 200ms ease-in;
    margin-left: 0px;
}


.Markdown h1 a,
.Markdown h2 a,
.Markdown h3 a
{
    color: var(--textColor);
}

.Markdown a
{
    color: var(--markdownLinkColor);
}

.Markdown hr
{
    width: 60px;
}

.Markdown p
{
    margin-right: 20px;
    margin-left: 20px;
}

.Markdown .hcentered
{
    margin-left: auto;
    margin-right: auto;
}

.Markdown pre,
.Markdown table
{
    background-color: #020202;
    padding: 10px;
    padding-left: 20px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 2px;
    border-style: solid;
    border-width: thin;
    border-color: var(--borderColor);
    overflow: auto;
    box-shadow: 0px 0px 5px #222;
    min-width: 450px;
    max-width: 640px;
}

.Markdown table,
.Markdown th,
.Markdown td
{
    border: 1px solid rgb(26, 26, 26);
    padding: 5px;
}

.Markdown th
{
    background-color: #080812;
}

.Markdown.ChucK p.ChucK
{
    text-align: justify;
}

.Markdown.ChucK .PageLogo
{
    height: 32px;
    float: left;
    margin-right: 10px;
}

.Markdown.ChucK
{
    background : #111212 url(images/chuckula_blood_dark.jpg) top center no-repeat;
}

.Markdown.ChucK.UAna,
.Markdown.ChucK.UAna
{
    /* we repeat the upchuck since it's a short image */
    background : #111212 url(images/upchuckula_dark.jpg) top center repeat;
}

/* tables in Language are used for the navbar */
.Markdown.ChucK.Program table
{
    border: 1px solid #123;
    padding: 5px;
    box-shadow: 0px 0px 5px #222;
}

/* first column */
.Markdown.ChucK.Program td:nth-child(1) 
{
    width: 250px;
    color:rgb(104, 137, 230);
}

.Markdown.ChucK.Examples table
{
    width: 500px;
}

.Markdown.ChucK.Examples td:nth-child(1) 
{
    width: 250px;
}

.Markdown.ChucK hr
{
    width: 100%;
    border-width: .5px;
    border-style: solid;
    color:rgb(43, 58, 100);
}

.Markdown.ChucK th
{
    font-weight: normal;
}

.Markdown.ChucK th,
.Markdown.ChucK td
{
    border-style: none;
    padding: 5px;
}

/* these are default colors when highlighter not present --- */
.Markdown .hljs-meta
{
    color: #b38f18;
}

/* highlight.js modified vs2015 style --- */
.hljs 
{
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #ccc; /* default color for non-highlighted/keyword text */
}

.hljs-keyword,
.hljs-literal,
.hljs-symbol,
.hljs-name {
    color: #C06040;
}
.hljs-link {
  color: #569CD6;
  text-decoration: underline;
}

.hljs-built_in,
.hljs-type {
    color: #6d8ff8;
}

.hljs-number,
.hljs-class {
    color: #ccf;
}

.hljs-string,
.hljs-meta-string {
    color: rgb(199, 228, 199);
}

.hljs-regexp,
.hljs-template-tag {
  color: #9A5334;
}

.hljs-subst,
.hljs-function,
.hljs-title,
.hljs-params,
.hljs-formula {
  color: #DCDCDC;
}

.hljs-comment,
.hljs-quote {
  color: rgb(127, 130, 116);
  font-style: italic;
}

.hljs-doctag {
  color: #608B4E;
}

.hljs-meta,
.hljs-meta-keyword,
.hljs-tag {
  color: #9B9B9B;
}

.hljs-variable,
.hljs-template-variable {
  color: #BD63C5;
}

.hljs-attr,
.hljs-attribute,
.hljs-builtin-name {
  color: #7168f0;
}

.hljs-section {
  color: gold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

/*.hljs-code {
  font-family:'Monospace';
}*/

.hljs-bullet,
.hljs-selector-tag,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #D7BA7D;
}

.hljs-addition {
  background-color: #144212;
  display: inline-block;
  width: 100%;
}

.hljs-deletion {
  background-color: #600;
  display: inline-block;
  width: 100%;
}
